<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="css/level2.css">
</head>
<body style="  background: url(image/2.jpg) no-repeat center center fixed;   -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

 <img src="image/IETE LOGO WHITE.png" alt="" width="90" height="90" style="margin-top: 2vh;"> 


 <div class="container" style="border: 2px ; text-align: left; margin-top:10vh;">
 <h2 style="color: rgb(253, 253, 253); font-size: x-large;" id="te" >Find the miscreant:</h2>
    <br>
<br>
<br>

  
 <div class="flex-container " style="border: 2px solid white;" id="sach">
    <div class="flex-item-left " data-aos="fade-right">
        <h2 style="color: rgb(253, 253, 253); font-size: x-large;" id="te" >Shift (X) cipher yxo yxo dgy 
            </h2>
    </div>
   
    <div class="flex-item-right" data-aos="fade-right">
    <img src="image/unknown.png" alt="" height="" width="200"></a>
    </div>
    </div>


 <input type="text" id="he" style="color: black; margin-left:10vh;">
 <button onclick="f1()" id="but">go</button>
 <button id="hint11" class="hin" onclick="f5()">hint1</button>
 <button id="hint12" class="hin" onclick="f3()">hint2</button>
 <button id="hint13" class="hin" onclick="f6()">hint3</button>

 <button id="hint21"  class="hin" onclick="f4()">hint1</button>
 <button id="hint22" class="hin" onclick="f2()">hint2</button>
 <button id="hint23" class="hin" onclick="f9()">hint3</button>
 <a href="/level3">
 <button id="next" class="hin">go to next</button>
</a>
 
 

 <img src="image/u1" alt="" id="show4" class="hin" width="200">
 <br>
<h2 style="color: rgb(253, 253, 253); font-size: x-large;" class="hin" id="we">.35-caliber action rifle</h2>
 <h2 id="show" style="color: rgb(255, 255, 255); font-size: medium; font-weight: bolder; "></h2>
 <br>
 
 <h2 id="s2" style="color: rgb(255, 255, 255); font-size: medium; font-weight: bolder; " ></h2>
 <br>
 <h2 id="show1" style="color: rgb(255, 255, 255); font-size: medium; font-weight: bolder;"></h2>


 
<video src="video/videoplayback.mp4" id="showa" class="hin" ></video>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
</body>
<script src="js/level2.js"></script>
 </html>